<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	
	<!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Style CSS -->
    <link href="../../css/style.css" rel="stylesheet" />
	
    <title>Quiz</title>
  </head>
  <body th:onload="|iniciarReto(${reto.preguntas[0].id}, ${#lists.size(reto.preguntas)}, ${reto.preguntas[0].tiempoRespuesta})|">
    <div class="container">
    	<div class="contenedorReto">
    		<h1 th:text="${reto.nombre}"></h1>
    		<div class="row" id="resultado">
    			<div class="col-6">
    				<div class="cronometro" id="cronometro"></div>
    			</div>  			
    		</div>
    		<div id="mostrarRespuesta">
    			<h2 id="nombrePregunta"></h2>
    			<h2 id="respuestaCorrecta" class="texto-verde"></h2>
    			<button class="btn btn-primary btn-lg" id="botonSiguientePregunta" onclick="finalizarPregunta()">Siguiente Pregunta</button>
    		</div>
    		
			<div id="fin">
				<h2>¡Enhorabuena! El reto ha finalizado</h2>
				<form th:action="|exportar-volver|" method="POST">
					<a onclick="this.parentNode.submit()">Exportar resultados y volver a TFG</a>
				</form>
			</div>
    		
    		<div th:each="pregunta, iteradorPregunta : ${reto.preguntas}" th:id="${pregunta.id}" th:style="${iteradorPregunta.index==0} ? 'display:inline;' : 'display:none;'">
    			<h3 th:text="${pregunta.cuestion}"></h3>
    			<div class="row">
    			  <div class="col-6">
	    			<div class="card text-white bg-danger mb-3 col-12" style="cursor:default;">
					  <div class="card-header">A</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[0].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				  <div class="col-6">
					<div class="card text-white bg-success mb-3 col-12" style="cursor:default;">
					  <div class="card-header">B</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[1].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				  <div class="col-6" th:if="${#lists.size(pregunta.opciones) > 2}">
					<div class="card text-white bg-warning mb-3 col-12" style="cursor:default;">
					  <div class="card-header">C</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[2].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				  <div class="col-6" th:if="${#lists.size(pregunta.opciones) > 3}">
					<div class="card text-white bg-primary mb-3 col-12" style="cursor:default;">
					  <div class="card-header">D</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[3].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				</div>
    		</div>
    	</div>
	</div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../../js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script>
	    var respuestasCorrectas;
		var numPreguntas;
		var idPregunta;
		var tiempoInicio;
		var tiempoActual;
		var tiempoPregunta;
		var intervaloCronometro;
    
    	function iniciarReto(idPreguntaLocal, numPreguntasLocal, tiempoPreguntaLocal){
    		respuestasCorrectas = 0;
    		numPreguntas = numPreguntasLocal;
    		idPregunta = idPreguntaLocal;
    		tiempoPregunta = tiempoPreguntaLocal * 1000;
    		iniciarCronometro();
    		$("#mostrarRespuesta").css({"display": "none"});
    		$("#fin").css({"display": "none"});
    	}
    	
    	function finalizarPregunta(){
    		if($("#" + idPregunta).next().is('div')){
    			idPregunta = $("#" + idPregunta).next().attr( "id" );
    		}
    		else{
    			idPregunta = null;
    			$("#cronometro").css({"display": "none"});
    			$("#fin").css({"display": "block"});
    			$("#mostrarRespuesta").css({"display": "none"});
    		}
    		    		
    		$.ajax({
	  			type: "POST",
	  			url: "siguiente-pregunta",
	  			dataType: "text",
	  			data: {"idPregunta": idPregunta},
	  			success: function(tiempoActual){
					tiempoPregunta = tiempoActual * 1000;
    	        },
    	        async: false
	  		});
    		
    		if(idPregunta != null){
    			iniciarCronometro();
        		$("#mostrarRespuesta").css({"display": "none"});
        		$("#" + idPregunta).css({"display": "block"});
    		}    		
    	}
		
    	function mostrarRespuesta(){
    		$.ajax({
	  			type: "GET",
	  			url: "obtener-respuesta-actual",
	  			dataType: "json",
	  			data: {"idPregunta": idPregunta},
	  			success: function(datos){
	  				$("#" + idPregunta).css({"display": "none"});
	  				$("#respuestaCorrecta").text("");
	  	    		$("#mostrarRespuesta").css({"display": "block"});
	  	    		$("#nombrePregunta").text(datos.nombrePregunta);
	  	    		$("#respuestaCorrecta").text(`Respuesta correcta: ${datos.respuestaCorrecta}`);
    	        },
    	        async: false
	  		});
    	}
    	
	    function cronometro() {
	    	tiempoActual = tiempoInicio - new Date().getTime();
	    	if(tiempoActual > 0){
	    		document.getElementById("cronometro").innerHTML = Math.trunc(tiempoActual/1000);	    		
	    	}
	    	else{
	    		pararCronometro();
	    		document.getElementById("cronometro").innerHTML = 0;
	    		setTimeout(function(){ mostrarRespuesta(); }, 500);	    		
	    	}	    	
	    }
	    
	    function iniciarCronometro() {
	    	$("#cronometro").css({"display": "block"});
	    	clearInterval(intervaloCronometro);
	    	tiempoInicio = new Date().getTime() + tiempoPregunta;
    		tiempoActual = 0;
    		intervaloCronometro = setInterval(cronometro, 200); //Invoca la función cronómetro cada 0.2 segundos    		
	    }
	    
	    function pararCronometro() {
	    	$("#cronometro").css({"display": "none"});
	    	clearInterval(intervaloCronometro);
	    	tiempoInicio = 0;
    		tiempoActual = 0; 	
	    }
    </script>    
  </body>
</html>