<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	
	<!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Style CSS -->
    <link href="../../css/style.css" rel="stylesheet" />
	
    <title>Quiz</title>
  </head>
  <body th:onload="|iniciarReto(${reto.preguntas[0].id}, ${#lists.size(reto.preguntas)}, 10)|">
    <div class="container">
    	<div class="contenedorReto">
    		<h1 th:text="${reto.nombre}"></h1>
    		<div class="row" id="resultado">
    			<div class="col-6">
    				<div class="cronometro" id="cronometro"></div>
    			</div>
    			<div class="col-6" style="text-align: right">
    				<h3 class="aciertos" id="aciertos">Aciertos: 0</h3>
    			</div>    			
    		</div>
    		<div class="mensajeAcierto" id="mensajeAcierto" style="display: none;">
    			<h1><i class="material-icons">check_circle_outline</i></h1>
    			<h1>Correcto</h1> 				
    		</div>
    		<div class="mensajeError" id="mensajeError" style="display: none;">
    			<h1><i class="material-icons">clear</i></h1>
    			<h1>Error</h1> 
    		</div>
    		<div class="mensajeFin" id="mensajeFin" style="display: none;">
    			<h2>¡Enhorabuena, has terminado este reto!</h2> 				
    		</div>
    		<div th:each="pregunta, iteradorPregunta : ${reto.preguntas}" th:id="${pregunta.id}" th:style="${iteradorPregunta.index==0} ? 'display:inline;' : 'display:none;'">
    			<h3 th:text="${pregunta.cuestion}"></h3>
    			<div class="row">
    			  <div class="col-6">
	    			<div class="card text-white bg-primary mb-3 col-12">
					  <div class="card-header">A</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[0].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				  <div class="col-6">
					<div class="card text-white bg-success mb-3 col-12">
					  <div class="card-header">B</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[1].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				  <div class="col-6" th:if="${#lists.size(pregunta.opciones) > 2}">
					<div class="card text-white bg-danger mb-3 col-12">
					  <div class="card-header">C</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[2].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				  <div class="col-6" th:if="${#lists.size(pregunta.opciones) > 3}">
					<div class="card text-white bg-warning mb-3 col-12">
					  <div class="card-header">D</div>
					  <div class="card-body">
					    <h4 class="card-title" th:text="${pregunta.opciones[3].respuesta}"></h4>
					  </div>
					</div>
				  </div>
				</div>
				<form class="formulario-oculto" action="/continuar-reto" method="POST">
					<input type="hidden" name="idReto" th:value="${reto.id}" />
					<button onclick="this.parentNode.submit()">Siguiente Pregunta</button>
				</form>
    		</div>
    	</div>
	</div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../../js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script>
    	var tiempoPregunta;
    	var tiempoInicio;
    	var tiempoActual;
    	var tiempoFin;
    	var intervalo;
    	var respuestasCorrectas;
    	var numPreguntas;
    	
    	function iniciarReto(idPreguntaLocal, numPreguntasLocal, tiempoPreguntaLocal){
    		idPregunta = idPreguntaLocal;
    		numPreguntas = numPreguntasLocal;
    		tiempoPregunta = tiempoPreguntaLocal * 1000;
    		reiniciarCronometro();
    		respuestasCorrectas = 0;
    		document.getElementById("aciertos").innerHTML = "Aciertos: " + respuestasCorrectas + " de " + numPreguntas;
    		$.ajax({
	  			type: "POST",
	  			url: "siguiente-pregunta",
	  			dataType: "text",
	  			data: {"idPregunta": idPregunta}
	  		});
    	}
	    
	    function reiniciarCronometro() {
	    	$("#cronometro").css({"display": "block"});
	    	clearInterval(intervalo);
	    	tiempoInicio = new Date().getTime() + tiempoPregunta;
    		tiempoActual = 0;
    		intervalo = setInterval(cronometro, 200); //Invoca la función cronómetro cada 0.2 segundos    	
	    }
	    
	    function pararCronometro() {
	    	$("#cronometro").css({"display": "none"});
	    	clearInterval(intervalo);
	    	tiempoInicio = 0;
    		tiempoActual = 0; 	
	    }
	    
	    function cronometro() {
	    	tiempoActual = tiempoInicio - new Date().getTime();
	    	if(tiempoActual > 0){
	    		document.getElementById("cronometro").innerHTML = Math.trunc(tiempoActual/1000);
	    	}
	    	else{
	    		document.getElementById("cronometro").innerHTML = 0;
	    		$("#" + idPregunta).css({"display": "none"});
	    		if($("#" + idPregunta).next().is("div")){
		    		idPregunta = $("#" + idPregunta).next().attr("id");
	    		}
	    		else{
	    			idPregunta = -1;
	    		}
		    		$.ajax({
			  			type: "POST",
			  			url: "siguiente-pregunta",
			  			dataType: "text",
			  			data: {"idPregunta": idPregunta}
			  		});
		    		
		    		
		    		$("#" + idPregunta).css({"display": "block"});
		    		reiniciarCronometro();
	    	}	    	
	    }	    
    </script>    
  </body>
</html>