<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	
	<!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Style CSS -->
    <link href="../../css/style.css" rel="stylesheet" />
	
    <title>Quiz</title>
  </head>
  <body th:onload="|iniciarReto(${#lists.size(reto.preguntas)})|">
    <div class="container">
    	<div class="contenedorReto">
    		<h1 th:text="${reto.nombre}"></h1>
    		<div class="row" id="resultado">
    			<div class="col-6" style="text-align: right">
    				<h3 class="aciertos" id="aciertos">Aciertos: 0</h3>
    			</div>    			
    		</div>
    		<div class="mensajeAcierto" id="mensajeAcierto" style="display: none;">
    			<h1><i class="material-icons">check_circle_outline</i></h1>
    			<h1>Correcto</h1> 				
    		</div>
    		<div class="mensajeError" id="mensajeError" style="display: none;">
    			<h1><i class="material-icons">clear</i></h1>
    			<h1>Error</h1> 
    		</div>
    		<div class="mensajeFin" id="mensajeFin" style="display: none;">
    			<h2>¡Enhorabuena, has terminado este reto!</h2> 				
    		</div>
    		<div th:each="pregunta, iteradorPregunta : ${reto.preguntas}" th:id="${pregunta.id}" th:style="${iteradorPregunta.index==0} ? 'display:inline;' : 'display:none;'">
    			<div class="row">
    			  <div class="col-6">
	    			<div class="card text-white bg-primary mb-3 col-12" th:onclick="|respuesta(${pregunta.opciones[0].id}, ${pregunta.opciones[0].correcta} )|">
					  <div class="card-header"></div>
					  <div class="card-body">
					    <h1 class="card-title">A</h1>
					  </div>
					</div>
				  </div>
				  <div class="col-6">
					<div class="card text-white bg-success mb-3 col-12" th:onclick="|respuesta(${pregunta.opciones[1].id}, ${pregunta.opciones[1].correcta} )|">
					  <div class="card-header"></div>
					  <div class="card-body">
					    <h1 class="card-title">C</h1>
					  </div>
					</div>
				  </div>
				  <div class="col-6" th:if="${#lists.size(pregunta.opciones) > 2}">
					<div class="card text-white bg-danger mb-3 col-12" th:onclick="|respuesta(${pregunta.opciones[2].id}, ${pregunta.opciones[2].correcta} )|">
					  <div class="card-header"></div>
					  <div class="card-body">
					    <h1 class="card-title">B</h1>
					  </div>
					</div>
				  </div>
				  <div class="col-6" th:if="${#lists.size(pregunta.opciones) > 3}">
					<div class="card text-white bg-warning mb-3 col-12" th:onclick="|respuesta(${pregunta.opciones[3].id}, ${pregunta.opciones[3].correcta}, ${pregunta.id} )|">
					  <div class="card-header"></div>
					  <div class="card-body">
					    <h1 class="card-title">D</h1>
					  </div>
					</div>
				  </div>
				</div>
    		</div>
    	</div>
	</div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../../js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script>
    	var respuestasCorrectas = 0;
    	var numPreguntas;
    	var idPregunta = null;
    	var tiempoInicio;
    	var tiempoActual;
    	var tiempoPregunta = 10 * 1000;
    	var intervaloCronometro;
    
    	setInterval(function(){
			$.ajax({
				type: "GET",
				url: "obtener-pregunta-actual",
				dataType: "text",
				success: function(idPreguntaActual){
					if(idPregunta != "null" && idPreguntaActual == "null"){
						window.location.href = "sala-de-espera";
					}
					else if(idPregunta != idPreguntaActual){
						pararCronometro();
						$("#mensajeAcierto").css({"display": "none"});
			   			$("#mensajeError").css({"display": "none"});
			   			
						$("#" + idPregunta).css({"display": "none"});
	  					idPregunta = idPreguntaActual;
	  					$("#" + idPregunta).css({"display": "block"});
	  					iniciarCronometro();
					}					
				}
			});
		}, 1000);
    	
    	function iniciarReto(numPreguntasLocal){
    		numPreguntas = numPreguntasLocal;  		
    		document.getElementById("aciertos").innerHTML = "Aciertos: " + respuestasCorrectas + " de " + numPreguntas;
    	}
    	
    	function respuesta(idOpcionElegida, correcta) {
    		enviarResultados(idOpcionElegida, tiempoActual - tiempoInicio);
    		pararCronometro();
    		$("#" + idPregunta).css({"display": "none"});
    		
	    	if(correcta){
	    		respuestasCorrectas++;	    		
	    		$("#mensajeAcierto").css({"display": "block"});
	    	}
	    	else{
	    		$("#mensajeError").css({"display": "block"});
	    	}
	    	
	    	document.getElementById("aciertos").innerHTML = "Aciertos: " + respuestasCorrectas + " de " + numPreguntas;
	    }
    	
    	function enviarResultados(idOpcionElegida, tiempoActual) {		    	
	    	$.ajax({
	  			type: "POST",
	  			url: "guardar-respuesta",
	  			dataType: "text",
	  			data: {"idOpcionElegida": idOpcionElegida,
	  				"idPregunta": idPregunta,
	  				"tiempoTotal": tiempoActual,
	  				"idUsuario": $.cookie("idUsuario")
	  			}
	  		});
	    }
    	
    	function cronometro() {
	    	tiempoActual = tiempoInicio - new Date().getTime();
	    	if(tiempoActual <= 0){
	    		respuesta(null, false);	    		
	    	}	    	
	    }
    	
    	function iniciarCronometro() {
	    	clearInterval(intervaloCronometro);
	    	tiempoInicio = new Date().getTime() + tiempoPregunta;
    		tiempoActual = 0;
    		intervaloCronometro = setInterval(cronometro, 200); //Invoca la función cronómetro cada 0.2 segundos    		
	    }
	    
	    function pararCronometro() {
	    	clearInterval(intervaloCronometro);
	    	tiempoInicio = 0;
    		tiempoActual = 0; 	
	    }
    </script>
    
  </body>
</html>